.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}
.subhead h1 {
  font-size: 54px;
}

.preview {
  padding-top: 100px;
}

.links {
  margin-bottom: 20px;
}

.links a {
  padding-right: 2em;
}

.eventdate {
  padding-left: 0.25em;
}

.postdate {
  color: #bbb;
  font-size: 10pt;
  padding-left: 0.5em;
}

.photo-row {
  margin-bottom: 1.75em;
}

#footer {
  margin-top: 2em;
}

img.pimg {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}