<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

      <!-- bootstrap CSS -->
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/bootstrap-responsive.css">

      <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="/css/syntax.css">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="/css/main.css">

      <!-- bootstrap JS -->
      <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
      <script type="text/javascript" src="/js/bootstrap.js"></script>
      <script type="text/javascript" src="/js/underscore-min.js"></script>
  </head>

  <body class="preview" id="#top">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">{{ site.name }}</a>
          <div class="nav-collapse collapse" id="main-menu">
            <ul class="nav" id="main-menu-left">
              <li class="dropdown" id="calendar-menu">
                <a class="dropdown-toggle" href="/calendar.html">Calendar</a>
              </li>
            </ul>
            <ul class="nav pull-right" id="main-menu-right">
              <li><a rel="tooltip" target="_blank" href="/join.html">Join <i class="icon-share-alt"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Masthead
      ================================================== -->
      <header class="jumbotron subhead" id="overview">
        <div class="row">
          <div class="span6">
            <h1>Make. Hack. Craft.</h1>
            <p class="lead">Salt Lake City</p>
          </div>
          <div class="span6">
          </div>
        </div>
      </header>

      <section>
        <div class="row">
          <div class="span8">
            {{ content }}
          </div>
          <div class="span4">
          </div>
        </div>
      </section>     

      <footer id="footer">
        <p class="pull-right"><a href="mailto:enjigo@gmail.com">enjigo@gmail.com</a></p>
        <div class="links">
<!--          <a href="http://news.bootswatch.com">Blog</a> -->
          <a href="http://github.com/EnjiGo/website/">github.com/EnjiGo</a>
        </div>
      </footer>
    </div> <!-- container -->

  </body>
</html>
